In [2]:
# Dependencies and setup
import pandas as pd
import os
import glob

In [3]:
#Files to load
college_football_data = '../source_data/cfb*.csv'
all_files = glob.glob(college_football_data)
dataframes_list = []

In [4]:
#For Loop to put each csv into a list
for x in all_files:
    temp_df = pd.read_csv(x)
    dataframes_list.append(temp_df)

In [5]:
df=pd.DataFrame(dataframes_list[0])
df[df['Team'].str.endswith("()")]

,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,Total.TDs,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
68,Ole Miss (),13,8,5,21,1018,6153,6.04,46,49,...,29:44,56,9,13,22,8,13,21,1,0.08

In [6]:
df=pd.DataFrame(dataframes_list[1])
df[df['Team'].str.endswith("()")]

,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,Total.TDs,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
69,Ole Miss (),13,9,4,51,904,5448,6.03,45,49,...,28:14,27,10,22,32,10,15,25,7,0.54
73,Pittsburgh (),13,6,7,40,918,5660,6.17,52,52,...,33:49,95,4,10,14,12,7,19,-5,-0.38

In [7]:
df=pd.DataFrame(dataframes_list[2])
df[df['Team'].str.endswith("()")]

Empty DataFrame
Columns: [Team, Games, Win, Loss, Off.Rank, Off.Plays, Off.Yards, Off.Yards.Play, Off.TDs, Total.TDs, Off.Yards.per.Game, Def.Rank, Def.Plays, Yards.Allowed, Yards.Play.Allowed, Off.TDs.Allowed, Total.TDs.Allowed, Yards.Per.Game.Allowed, First.Down.Rank, First.Down.Runs, First.Down.Passes, First.Down.Penalties, First.Downs, First.Down.Def.Rank, Opp.First.Down.Runs, Opp.First.Down.Passes, Opp.First.Down.Penalties, Opp.First.Downs, X4th.Down.Rank, X4th.Attempts, X4th.Conversions, X4th.Percent, X4rd.Down.Def.Rank, Opp.4th.Conversion, Opp.4th.Attempt, Opponent.4th.Percent, Kickoff.Return.Rank, Kickoffs.Returned, Kickoff.Return.Yards, Kickoff.Return.Touchdowns, Avg.Yard.per.Kickoff.Return, Passing.Off.Rank, Pass.Attempts, Pass.Completions, Interceptions.Thrown.x, Pass.Yards, Pass.Yards.Attempt, Yards.Completion, Pass.Touchdowns, Pass.Yards.Per.Game, Pass.Def.Rank, Opp.Completions.Allowed, Opp.Pass.Attempts, Opp.Pass.Yds.Allowed, Opp.Pass.TDs.Allowed, Yards.Attempt.Allowed, Yards.Completion.Allowed, Pass.Yards.Per.Game.Allowed, Penalty.Rank, Penalties, Penalty.Yards, Penalty.Yards.Per.Game, Punt.Return.Rank, Punt.Returns, Net.Punt.Return.Yards, Punt.Return.Touchdowns, Avg.Yards.Per.Punt.Return, Punt.Return.Def.Rank, Opp.Punt.Returns, Opp.Net.Punt.Return.Yards, Opp.Punt.Return.Touchdowns.Allowed, Avg.Yards.Allowed.per.Punt.Return, Redzone.Off.Rank, Redzone.Attempts, Redzone.Rush.TD, Redzone.Pass.TD, Redzone.Field.Goals.Made, Redzone.Scores, Redzone.Points, Redzone.Def.Rank, Opp.Redzone.Attempts, Opp.Redzone.Rush.TD.Allowed, Opp.Redzone.Pass.Touchdowns.Allowed, Opp.Redzone.Field.Goals.Made, Opp.Redzone.Scores, Redzone.Points.Allowed, Rushing.Off.Rank, Rush.Attempts, Rush.Yds, Yards.Rush, Rushing.TD, Rushing.Yards.per.Game, Rushing.Def.Rank, Opp.Rush.Attempts, Opp.Rush.Yards.Alloweed, Yds.Rush.Allowed, Opp.Rush.Touchdowns.Allowed, Rush.Yards.Per.Game.Allowed, Sack.Rank, Sacks, ...]
Index: []

[0 rows x 146 columns]

In [ ]:
for x in dataframes_list:

In [ ]:
#Make a For Loop that applies the new column to each Dataset

interator = 0
no_conf_name = {}

for i in dataframes_list:
    df=pd.DataFrame(dataframes_list[interator])
    conferences = list(df.Team)
    conf_only = []

    for x in conferences:
        conf_only.append(x[x.find('(')+1:x.find(')')])

    df.insert(loc = 1,
                column = 'Conference',
                value = conf_only)
    interator+=1
    
    
#I need to add an IF statement here to handle the missing conference name from Ole Miss & Pitt

In [ ]:
dataframes_list[0]

In [ ]:
#Get a list of the Column Names
df = list(df.columns)

In [ ]:
#Figure out what other rows were missing the conference.
df[df['Team'].str.endswith("()")]

In [ ]:
#Now I want to edit those cells and add the correct conference
df.iat[68,0] = 'Ole Miss (SEC)'

In [ ]:
#Now I'll get the SEC teams again
df[df['Team'].str.contains('SEC')]

In [ ]:
#Verifying that all teams end with their conference in their name
df[df['Team'].str.endswith("()")]

In [ ]:
#Next let's try to add the conference as a column.
conferences = list(df.Team)

In [ ]:
#I started by making an empty list that would contain the new column values.
conf_only = []

In [ ]:
#I then used a For loop to loop through the Team names and use two 'Find' operators to select only the letters that fell between the '()' in each name which had the conference info.
for x in conferences:
    conf_only.append(x[x.find('(')+1:x.find(')')])

In [ ]:
#I then used 'Insert' to put the new column that contained only the names back into the dataframe.
df.insert(loc = 1,
                column = 'Conference',
                value = conf_only)

In [ ]:
#Now Create a function or For Loop that will do this to each dataframe in the list in one step

In [ ]:
#Try to determine which Stat/column has the most and least impact on Wins.