In [1]:
# Dependencies and setup
import pandas as pd
import os
import glob

In [2]:
#Files to load
college_football_data = '../source_data/cfb*.csv'
all_files = glob.glob(college_football_data)
dataframes_list = []

In [3]:
#For Loop to put each csv into a list
for x in all_files:
    temp_df = pd.read_csv(x)
    dataframes_list.append(temp_df)

In [4]:
#Convert one of the Lists into a Dataframe
y=0

for i in dataframes_list:
    df=pd.DataFrame(dataframes_list[y])
    conferences = list(df.Team)
    conf_only = []

    for x in conferences:
        conf_only.append(x[x.find('(')+1:x.find(')')])

    df.insert(loc = 1,
                column = 'Conference',
                value = conf_only)
    y+=1
    
    
#I need to add an IF statement here to handle the missing conference name from Ole Miss & Pitt

In [7]:
dataframes_list[4]

,Team,Conference,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
0,Air Force (MWC),MWC,12,5,7,49,908,5010,5.52,48,...,33:27,119,5,5,10,14,6,20,-10,-0.83
1,Akron (MAC),MAC,14,7,7,121,906,4424,4.88,38,...,28:44,19,8,19,27,6,11,17,10,0.71
2,Alabama (SEC),SEC,14,13,1,29,944,6217,6.59,64,...,29:45,5,5,19,24,7,3,10,14,1.00
3,Appalachian St. (Sun Belt),Sun Belt,13,9,4,31,886,5718,6.45,55,...,31:19,11,8,18,26,8,6,14,12,0.92
4,Arizona (Pac-12),Pac-12,13,7,6,12,908,6364,7.01,67,...,28:37,46,6,19,25,9,13,22,3,0.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,West Virginia (Big 12),Big 12,13,7,6,20,941,5975,6.35,55,...,27:15,105,8,11,19,12,14,26,-7,-0.54
125,Western Ky. (C-USA),C-USA,13,6,7,69,968,5146,5.32,42,...,29:22,110,5,10,15,13,10,23,-8,-0.62
126,Western Mich. (MAC),MAC,12,6,6,78,856,4675,5.46,45,...,30:38,20,16,10,26,10,8,18,8,0.67
127,Wisconsin (Big Ten),Big Ten,14,13,1,51,954,5810,6.09,53,...,35:29,35,9,20,29,9,15,24,5,0.36
128,Wyoming (MWC),MWC,13,8,5,125,794,3718,4.68,31,...,27:39,1,18,20,38,6,8,14,24,1.85

In [ ]:
#Get a list of the Column Names
df_2013_col_names = list(df_2013.columns)

In [ ]:
#Figure out what other rows were missing the conference.
df_2013[df_2013['Team'].str.endswith("()")]

In [ ]:
#Now I want to edit those cells and add the correct conference
df_2013.iat[68,0] = 'Ole Miss (SEC)'

In [ ]:
#Now I'll get the SEC teams again
df_2013[df_2013['Team'].str.contains('SEC')]

In [ ]:
#Verifying that all teams end with their conference in their name
df_2013[df_2013['Team'].str.endswith("()")]

In [ ]:
#Next let's try to add the conference as a column.
conferences = list(df_2013.Team)

In [ ]:
#I started by making an empty list that would contain the new column values.
conf_only = []

In [ ]:
#I then used a For loop to loop through the Team names and use two 'Find' operators to select only the letters that fell between the '()' in each name which had the conference info.
for x in conferences:
    conf_only.append(x[x.find('(')+1:x.find(')')])

In [ ]:
#I then used 'Insert' to put the new column that contained only the names back into the dataframe.
df_2013.insert(loc = 1,
                column = 'Conference',
                value = conf_only)

In [ ]:
#Now Create a function or For Loop that will do this to each dataframe in the list in one step

In [ ]:
#Try to determine which Stat/column has the most and least impact on Wins.