In [1]:
# Dependencies and setup
import pandas as pd
import re
import os
import glob
from cfExtract import conferenceExtract

In [2]:
#Files to load
college_football_data = '../source_data/cfb*.csv'
all_files = glob.glob(college_football_data)
dataframes_list = []

In [3]:
#For Loop to put each csv into a list
for x in all_files:
    temp_df = pd.read_csv(x)
    dataframes_list.append(temp_df)

In [4]:
#Test the new Function made from the code below
conferenceExtract(dataframes_list)

In [5]:
#Test to see if it worked:
dataframes_list[0].head()

,Team,Conference,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
0,Akron,MAC,12,5,7,106,837,4104,4.90,30,...,29:20,74,6,13,19,11,10,21,-2,-0.17
1,Alabama,SEC,13,11,2,33,826,5903,7.15,58,...,32:00,48,8,11,19,10,7,17,2,0.15
2,Arizona,Pac-12,13,8,5,31,1030,5960,5.79,52,...,28:30,39,4,18,22,11,7,18,4,0.31
3,Arizona St.,Pac-12,14,10,4,32,1102,6402,5.81,64,...,30:21,7,12,21,33,6,12,18,15,1.07
4,Arkansas,SEC,12,3,9,99,775,4286,5.53,29,...,30:26,111,6,8,14,12,11,23,-9,-0.75

In [ ]:
#Testing how to replace the Team name without the conference attached
df0 = dataframes_list[0]
team_only = []
teams = list(df0["Team"])

for x in teams:

        x = x.split("(", 1)[0]
        team_only.append(x)

team_only = pd.DataFrame(team_only)

df0["Team"] = team_only[0]

In [ ]:
#Adds a key-value pair to a dictionary. If the key already exists in the dictionary, it will associate multiple values with that key instead of overwritting its value.
def add_value(dict_obj, key, value):
    if key not in dict_obj:
        dict_obj[key] = value
    elif isinstance(dict_obj[key], list):
        dict_obj[key].append(value)
    else:
        dict_obj[key] = [dict_obj[key], value]

In [ ]:
#Make a For Loop that applies the new column to each Dataset while creating a Dictionary with Teams that are missing Conference names.
iterator = 0
no_conf_name = {}

for i in dataframes_list:
    df=pd.DataFrame(dataframes_list[iterator])
    teams = list(df.Team)
    conf_only = []
    team_only = []

    for x in teams:
        conf_only.append(x[x.find('(')+1:x.find(')')])

        if x[x.find('(')+1:x.find(')')] == "":
            add_value(no_conf_name, iterator, x)
        
        x = x.split("(", 1)[0]
        team_only.append(x)

    df.insert(loc = 1,
                column = 'Conference',
                value = conf_only)
    
    team_only = pd.DataFrame(team_only)
    
    df["Team"] = team_only[0]
    
    iterator+=1

In [ ]:
#Verify it worked
df=dataframes_list[0]
df.head()

In [ ]:
df=dataframes_list[1]
df.head()

In [ ]:
df=dataframes_list[2]
df.head()

In [ ]:
#What are the teams missing conference names and which Dataframe where they in within the List?
print(no_conf_name)

In [ ]:
#Now load in the first DF with a missing conference name.
df0 = dataframes_list[0]
df0.head()

In [ ]:
#Find the index of the team with the missing conference name and add it to the Name and Conference column.
df0.index[df0['Conference']== "" ].tolist()

In [ ]:
#Apply the new name and add conference name
df0.iat[68,0] = "Ole Miss (SEC)"
df0.iat[68,1] = "SEC"

In [ ]:
#Verify it was successful
df0.iat[68,0]

In [ ]:
df0.iat[68,1]

In [ ]:
#Do the same to the other Dataframe
df1 = dataframes_list[1]
df1.index[df1['Conference']== "" ].tolist()

In [ ]:
df1.iat[69,0] = "Ole Miss (SEC)"
df1.iat[69,1] = "SEC"

In [ ]:
df1.iat[73,0] = "Pittsburgh (ACC)"
df1.iat[73,1] = "ACC"

In [ ]:
df1.index[df1['Conference']== "" ].tolist()