In [1]:
# Dependencies and setup
import pandas as pd
import re
import os
import glob
from cfExtract import conferenceExtract

In [2]:
#Files to load
college_football_data = '../source_data/cfb*.csv'
all_files = glob.glob(college_football_data)
dataframes_list = []

In [3]:
#For Loop to put each csv into a list
for x in all_files:
    temp_df = pd.read_csv(x)
    dataframes_list.append(temp_df)

In [4]:
#Test the new Function made from the code below
conferenceExtract(dataframes_list)

In [5]:
#Test to see if it worked:
dataframes_list[0].head()

,Team,Conference,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
0,Akron,MAC,12,5,7,106,837,4104,4.90,30,...,29:20,74,6,13,19,11,10,21,-2,-0.17
1,Alabama,SEC,13,11,2,33,826,5903,7.15,58,...,32:00,48,8,11,19,10,7,17,2,0.15
2,Arizona,Pac-12,13,8,5,31,1030,5960,5.79,52,...,28:30,39,4,18,22,11,7,18,4,0.31
3,Arizona St.,Pac-12,14,10,4,32,1102,6402,5.81,64,...,30:21,7,12,21,33,6,12,18,15,1.07
4,Arkansas,SEC,12,3,9,99,775,4286,5.53,29,...,30:26,111,6,8,14,12,11,23,-9,-0.75

In [6]:
#Testing how to replace the Team name without the conference attached
df0 = dataframes_list[0]
team_only = []
teams = list(df0["Team"])

for x in teams:

        x = x.split("(", 1)[0]
        team_only.append(x)

team_only = pd.DataFrame(team_only)

df0["Team"] = team_only[0]

In [7]:
#Adds a key-value pair to a dictionary. If the key already exists in the dictionary, it will associate multiple values with that key instead of overwritting its value.
def add_value(dict_obj, key, value):
    if key not in dict_obj:
        dict_obj[key] = value
    elif isinstance(dict_obj[key], list):
        dict_obj[key].append(value)
    else:
        dict_obj[key] = [dict_obj[key], value]

In [8]:
#Make a For Loop that applies the new column to each Dataset while creating a Dictionary with Teams that are missing Conference names.
# iterator = 0
# no_conf_name = {}

# for i in dataframes_list:
#     df=pd.DataFrame(dataframes_list[iterator])
#     teams = list(df.Team)
#     conf_only = []
#     team_only = []

#     for x in teams:
#         conf_only.append(x[x.find('(')+1:x.find(')')])

#         if x[x.find('(')+1:x.find(')')] == "":
#             add_value(no_conf_name, iterator, x)
        
#         x = x.split("(", 1)[0]
#         team_only.append(x)

#     df.insert(loc = 1,
#                 column = 'Conference',
#                 value = conf_only)
    
#     team_only = pd.DataFrame(team_only)
    
#     df["Team"] = team_only[0]
    
#     iterator+=1

In [9]:
#Verify it worked
df=dataframes_list[0]
df.head()

,Team,Conference,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
0,Akron,MAC,12,5,7,106,837,4104,4.90,30,...,29:20,74,6,13,19,11,10,21,-2,-0.17
1,Alabama,SEC,13,11,2,33,826,5903,7.15,58,...,32:00,48,8,11,19,10,7,17,2,0.15
2,Arizona,Pac-12,13,8,5,31,1030,5960,5.79,52,...,28:30,39,4,18,22,11,7,18,4,0.31
3,Arizona St.,Pac-12,14,10,4,32,1102,6402,5.81,64,...,30:21,7,12,21,33,6,12,18,15,1.07
4,Arkansas,SEC,12,3,9,99,775,4286,5.53,29,...,30:26,111,6,8,14,12,11,23,-9,-0.75

In [10]:
df=dataframes_list[1]
df.head()

,Team,Conference,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
0,Akron,MAC,12,5,7,88,891,4479,5.03,32,...,29:05,76,11,13,24,12,14,26,-2,-0.17
1,Alabama,SEC,14,12,2,17,1018,6783,6.66,67,...,31:45,71,9,11,20,12,10,22,-2,-0.14
2,Arizona,Pac-12,14,10,4,25,1139,6491,5.70,55,...,27:13,26,13,13,26,8,10,18,8,0.57
3,Arizona St.,Pac-12,13,10,3,34,975,5750,5.90,54,...,28:42,6,13,14,27,4,9,13,14,1.08
4,Arkansas,SEC,13,7,6,60,916,5278,5.76,52,...,34:02,27,12,12,24,11,6,17,7,0.54

In [11]:
df=dataframes_list[2]
df.head()

,Team,Conference,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
0,Akron,MAC,13,8,5,104,905,4642,5.13,38,...,32:49,13,14,14,28,6,12,18,10,0.77
1,Alabama,SEC,15,14,1,45,1088,6406,5.89,55,...,33:35,21,8,19,27,7,10,17,10,0.67
2,Appalachian St.,Sun Belt,13,11,2,26,902,6075,6.74,58,...,31:23,51,6,18,24,13,9,22,2,0.15
3,Arizona,Pac-12,13,7,6,16,993,6434,6.48,58,...,26:20,92,5,11,16,10,10,20,-4,-0.31
4,Arizona St.,Pac-12,13,6,7,24,1070,6207,5.80,49,...,31:29,51,6,15,21,10,9,19,2,0.15

In [12]:
#Now load in the first DF with a missing conference name.
df0 = dataframes_list[0]
df0.head()

,Team,Conference,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
0,Akron,MAC,12,5,7,106,837,4104,4.90,30,...,29:20,74,6,13,19,11,10,21,-2,-0.17
1,Alabama,SEC,13,11,2,33,826,5903,7.15,58,...,32:00,48,8,11,19,10,7,17,2,0.15
2,Arizona,Pac-12,13,8,5,31,1030,5960,5.79,52,...,28:30,39,4,18,22,11,7,18,4,0.31
3,Arizona St.,Pac-12,14,10,4,32,1102,6402,5.81,64,...,30:21,7,12,21,33,6,12,18,15,1.07
4,Arkansas,SEC,12,3,9,99,775,4286,5.53,29,...,30:26,111,6,8,14,12,11,23,-9,-0.75

In [13]:
#Find the index of the team with the missing conference name and add it to the Name and Conference column.
df0.index[df0['Conference']== "" ].tolist()

[68]

In [14]:
#Apply the new name and add conference name
df0.iat[68,0] = "Ole Miss (SEC)"
df0.iat[68,1] = "SEC"

In [15]:
#Verify it was successful
df0.iat[68,0]

'Ole Miss (SEC)'

In [16]:
df0.iat[68,1]

'SEC'

In [17]:
#Do the same to the other Dataframe
df1 = dataframes_list[1]
df1.index[df1['Conference']== "" ].tolist()

[69, 73]

In [18]:
df1.iat[69,0] = "Ole Miss (SEC)"
df1.iat[69,1] = "SEC"

In [19]:
df1.iat[73,0] = "Pittsburgh (ACC)"
df1.iat[73,1] = "ACC"

In [20]:
df1.index[df1['Conference']== "" ].tolist()

[]

In [27]:
df0.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 147 columns):
 #    Column                               Dtype
---   ------                               -----
 0    Team                                 object
 1    Conference                           object
 2    Games                                int64
 3    Win                                  int64
 4    Loss                                 int64
 5    Off.Rank                             int64
 6    Off.Plays                            int64
 7    Off.Yards                            int64
 8    Off.Yards.Play                       float64
 9    Off.TDs                              int64
 10   Total.TDs                            int64
 11   Off.Yards.per.Game                   float64
 12   Def.Rank                             int64
 13   Def.Plays                            int64
 14   Yards.Allowed                        int64
 15   Yards.Play.Allowed                   float64
 16   Off.TDs.Allowed                      int64
 17   Total.TDs.Allowed                    int64
 18   Yards.Per.Game.Allowed               float64
 19   First.Down.Rank                      int64
 20   First.Down.Runs                      int64
 21   First.Down.Passes                    int64
 22   First.Down.Penalties                 int64
 23   First.Downs                          int64
 24   First.Down.Def.Rank                  int64
 25   Opp.First.Down.Runs                  int64
 26   Opp.First.Down.Passes                int64
 27   Opp.First.Down.Penalties             int64
 28   Opp.First.Downs                      int64
 29   X4th.Down.Rank                       int64
 30   X4th.Attempts                        int64
 31   X4th.Conversions                     int64
 32   X4th.Percent                         float64
 33   X4rd.Down.Def.Rank                   int64
 34   Opp.4th.Conversion                   int64
 35   Opp.4th.Attempt                      int64
 36   Opponent.4th.Percent                 float64
 37   Kickoff.Return.Rank                  int64
 38   Kickoffs.Returned                    int64
 39   Kickoff.Return.Yards                 int64
 40   Kickoff.Return.Touchdowns            int64
 41   Avg.Yard.per.Kickoff.Return          float64
 42   Passing.Off.Rank                     int64
 43   Pass.Attempts                        int64
 44   Pass.Completions                     int64
 45   Interceptions.Thrown.x               int64
 46   Pass.Yards                           int64
 47   Pass.Yards.Attempt                   float64
 48   Yards.Completion                     float64
 49   Pass.Touchdowns                      int64
 50   Pass.Yards.Per.Game                  float64
 51   Pass.Def.Rank                        int64
 52   Opp.Completions.Allowed              int64
 53   Opp.Pass.Attempts                    int64
 54   Opp.Pass.Yds.Allowed                 int64
 55   Opp.Pass.TDs.Allowed                 int64
 56   Yards.Attempt.Allowed                float64
 57   Yards.Completion.Allowed             float64
 58   Pass.Yards.Per.Game.Allowed          float64
 59   Penalty.Rank                         int64
 60   Penalties                            int64
 61   Penalty.Yards                        int64
 62   Penalty.Yards.Per.Game               float64
 63   Punt.Return.Rank                     int64
 64   Punt.Returns                         int64
 65   Net.Punt.Return.Yards                int64
 66   Punt.Return.Touchdowns               int64
 67   Avg.Yards.Per.Punt.Return            float64
 68   Punt.Return.Def.Rank                 int64
 69   Opp.Punt.Returns                     int64
 70   Opp.Net.Punt.Return.Yards            int64
 71   Opp.Punt.Return.Touchdowns.Allowed   int64
 72   Avg.Yards.Allowed.per.Punt.Return    float64
 73   Redzone.Off.Rank                     int64
 74   Redzone.Attempts                     int64
 75   Redzone.Rush.TD                      int64
 76   Redzone.Pass.TD                      int64
 77   Redzone.Field.Goals.Made             int64
 78   Redzone.Scores                       int64
 79   Redzone.Points                       float64
 80   Redzone.Def.Rank                     int64
 81   Opp.Redzone.Attempts                 int64
 82   Opp.Redzone.Rush.TD.Allowed          int64
 83   Opp.Redzone.Pass.Touchdowns.Allowed  int64
 84   Opp.Redzone.Field.Goals.Made         int64
 85   Opp.Redzone.Scores                   int64
 86   Redzone.Points.Allowed               float64
 87   Rushing.Off.Rank                     int64
 88   Rush.Attempts                        int64
 89   Rush.Yds                             int64
 90   Yards.Rush                           float64
 91   Rushing.TD                           int64
 92   Rushing.Yards.per.Game               float64
 93   Rushing.Def.Rank                     int64
 94   Opp.Rush.Attempts                    int64
 95   Opp.Rush.Yards.Alloweed              int64
 96   Yds.Rush.Allowed                     float64
 97   Opp.Rush.Touchdowns.Allowed          int64
 98   Rush.Yards.Per.Game.Allowed          float64
 99   Sack.Rank                            int64
 100  Sacks                                int64
 101  Sack.Yards                           int64
 102  Average.Sacks.per.Game               float64
 103  Scoring.Def.Rank                     int64
 104  Touchdowns.Allowed                   int64
 105  Opponent.Extra.Points                int64
 106  X2.Point.Conversions.Allowed         int64
 107  Opp.Deflected.Extra.Points           int64
 108  Opp.Feild.Goals.Made                 int64
 109  Opp.Safety                           int64
 110  Points.Allowed                       int64
 111  Avg.Points.per.Game.Allowed          float64
 112  Scoring.Off.Rank                     int64
 113  Touchdowns                           int64
 114  PAT                                  int64
 115  X2.Point.Conversions                 int64
 116  Defensive.Points                     int64
 117  Feild.Goals                          int64
 118  Safety                               int64
 119  Total.Points                         int64
 120  Points.Per.Game                      float64
 121  Tackle.for.Loss.Rank                 int64
 122  Solo.Tackle.For.Loss                 int64
 123  Assist.Tackle.For.Loss               int64
 124  Tackle.for.Loss.Yards                int64
 125  Total.Tackle.For.Loss                int64
 126  Tackle.For.Loss.Per.Game             float64
 127  X3rd.Down.Rank                       int64
 128  X3rd.Attempts                        int64
 129  X3rd.Conversions                     int64
 130  X3rd.Percent                         float64
 131  X3rd.Down.Def.Rank                   int64
 132  Opp.3rd.Conversion                   int64
 133  Opp.3rd.Attempt                      int64
 134  Opponent.3rd.Percent                 float64
 135  Time.of.Possession.Rank              int64
 136  Time.of.Possession                   object
 137  Average.Time.of.Possession.per.Game  object
 138  Turnover.Rank                        int64
 139  Fumbles.Recovered                    int64
 140  Opponents.Intercepted                int64
 141  Turnovers.Gain                       int64
 142  Fumbles.Lost                         int64
 143  Interceptions.Thrown.y               int64
 144  Turnovers.Lost                       int64
 145  Turnover.Margin                      int64
 146  Avg.Turnover.Margin.per.Game         float64
dtypes: float64(29), int64(114), object(4)
memory usage: 127.6+ KB